@import url(bootstrap.css);

@font-face {
  font-family: AurulentSans;
  src: url('../fonts/AurulentSans-Regular.otf');
}

@font-face {
  font-family: FarnhamDisplay;
  src: url('../fonts/FarnhamDisplay-Light.ttf');
}

body {
  background: url("../img/wood_scaled.gif");
  background-color: transparent;
}

.navbar {
  color: #FCF5F5;
  background-color: transparent;
  background-image: url("../img/maroontr.png");
}

.navbar-inner {
  min-height: 20px;
  padding-left: 20%;
  background-color: transparent;
  background-image: url("../img/maroontr.png");
/*  background-repeat: no-repeat;*/
  filter: none;
}

.navbar .brand {
  color: #FCF5F5;
}

.navbar .navbar-link {
  color: #FCF5F5;
  z-index: 400;
}

.hero-unit {
  background-color: white;
 /* background-image: url("../img/blacklighter01.png"); */
}

.hero-unit .blog-p {
  font-family: FarnhamDisplay;
  font-size: 16px;
/*  line-height: 27px;*/
  color: black;
}

h1 {
  font-family: AurulentSans;
  font-size: 60px;
  color: white;
}

p {
  font-family: FarnhamDisplay;
  font-size: 14px;
  color: white;
}

blockquote small {
  display: block;
  line-height: 18px;
  color: #1A0F8C;
}
