.menu-button {
  display: inline-block;
  margin: 8px 0 0 8px;
}

#menuButton {
  margin: 20px;
}

.burger-icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .burger-icon, .burger-icon::before, .burger-icon::after {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #444;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .burger-icon::before, .burger-icon::after {
    position: absolute;
    content: ""; }
  .burger-icon::before {
    top: -8px; }
  .burger-icon::after {
    top: 8px; }

.menu-button.is-active .burger-icon {
  background-color: transparent; }

.menu-button.is-active .burger-icon::before {
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg); }

.menu-button.is-active .burger-icon::after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg); }

html {
  height: 100%;
}

body {
  background-image: url('../triangle-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100%;
  margin: 0;
}

@font-face {
  font-family: courier_prime;
  src: url('../fonts/courier-prime/Courier_Prime.ttf');
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#menuButton {
  position: fixed;
}

#menu {
  position: fixed;
  width: 200px;
  display: none;
  list-style-type: none;
}

#menu.is-active {
  position: fixed;
  display: block;
  top: 50px;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  font-family: courier_prime;
  padding: 20px 20px 20px 60px;
  width: 200px;
}

li:hover {
  background-color: black;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: gray;
}

#menu a:hover {
  color: white;
  font-size: 2em;
}

a:active {
  color: gray;
}

.inline {
  display: inline-block;
}

#center h1 {
  font-size: 5em;
  font-family: "Playfair Display", serif;
}

#center {
  position: absolute;
  top: 75px;
  left: 30%;
  font-family: courier_prime;
  font-size: 0.8em;
  padding-bottom: 35px; /* Height of the footer element */
}

#center a:hover,
.blog-btn:hover {
  text-decoration: line-through;
}

.white-bg {
  background: white;
}

#footer {
  position: fixed;
  width: 100%;
  height: 20px;
  left: 1%;
  bottom: 15px;
  font-size: 0.70em;
  font-family: "Playfair Display", serif;
}